.recommended-container{
    margin-top: 50px;
    margin-left:100px;
    margin-right:100px;

}

.r-date{
    color:#fff;
    background-color:#816AFE;
    height:30px;
    width:120px;
    text-align:center;
    border-radius:10px;

}

.recommend-list{
    display:flex;
    flex-direction:column;
}

.single-podcast{
    background-color: rgb(255, 255, 255);
    margin-bottom:50px;
    padding-bottom: 20px;

    border-radius:30px;

    -webkit-box-shadow: 0 10px 6px -6px rgb(152, 152, 152);
    -moz-box-shadow: 0 10px 6px -6px rgb(152, 152, 152);
    box-shadow: 0 10px 6px -6px rgb(152, 152, 152);
}

.podcast-title{
    text-align: center;
    color:#816AFE;
    font-weight: 700;
    font-size:25px;

    font-family: 'Righteous', cursive;
}

.podcast-ul{
    list-style-type: none;
    padding-left:50px;
    font-family: 'Righteous', cursive;
    color:#816AFE;
}

.dislike-btn{
    position:absolute;
    left:40%;
    
    border: 1px transparent;
    background-color:#816AFE;
    height:40px;
    width:40px;
    border-radius:50%;

    font-size:32px;

    color:white;
    padding-left:4.5px;
    padding-top: 4.5px;

}

.dislike-btn:hover{
    color:white;
    background-color:#81e2a8;
}

.expisodes-btn{
    border-radius: 10px;
    height:40px;
    width:100px;
    font-size:18px;
    border: 1px solid;
    border-color: transparent;
    background-color:#816AFE;
    color:#fff;
    font-family: 'Righteous', cursive;

    position: relative;
    left:56%;

    margin-left: 20px;
}

.expisodes-btn:hover{
    color:white;
    background-color:#81e2a8;
}



