.App {
  /* text-align: center; */
  /* background-color: #816afe; */
  /* background: linear-gradient(#242f98, #9ba3eb); */

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .button{
width: 200px;
display: flex;
align-items: center;
justify-content: center;
}

.button::after{
  content: "";
  display: block;
  width: 0px;
  height: 24px;
  overflow: hidden;
  /* background-image: url("arrow-right.svg"); */
  /* transition: width 200ms, margin-left 200ms;
}

.button:is(:hover, :focus)::after{
  width:24px;
  margin-left: 8px;
} */