
.account-container{
    background-image: url(../images/Group_1180.png);
    background-repeat: no-repeat;
    background-position-x:90%;
    background-position-y: 10%;
    
}

.welcomeback-title{

    padding-top:50px;

    margin-left:100px;
    margin-right:100px;
    background-color:transparent;
    color:rgb(34, 34, 34);
    font-weight:900;
    font-size:30px;
}

.welcome-back-div{
    list-style-type:none;
    display: flex;
    justify-content: left;
    padding-left: 0;
}

.user-name{
    color:#81e2a8;
    background-color:#816AFE;
    border-radius:5px;


}



















/* more categories part styling */

.more-categories-container{
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

}

.categories-title{
    background-color:white;
    text-align: center;
    
    
}

/* try for fancy title */




/* --------------------- */



.more-categories-link{
    text-decoration: none;
    background-color:transparent;
    padding-bottom: 0;
    font-weight:800;
    font-size: 40px;
    

    color:#816AFE;
}

.more-categories-link:hover{
    text-align: center;
    color:#81e2a8;
}


.categories-ul{
    list-style: none;
    display:flex;
    flex-direction:column;
    flex-flow: row wrap;
    justify-content: left;

    padding-left:0;
}

.categories-ul > li{
    padding-right: 20px;
    padding-bottom: 10px;
}


.categories-link{
    text-decoration: none;
    font-weight:700;
    /* color:rgb(255, 255, 255); */
    opacity:1;
    
    font-size:30px;

}

.category-box{
    /* background-image:URL("https://source.unsplash.com/upDPy3ZhGt4"); */
    background-size:cover;
    height:200px;
    width:200px;
    border-radius: 10px;
    cursor:pointer;
    color:white;

    text-align:center;
    
}

.category-box > p {
    position:relative;
    top:40%;
}

.blackLayer{
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    position:relative;
    bottom:32.7%;

    -webkit-box-shadow: 0 10px 6px -6px (104, 104, 104);
    -moz-box-shadow: 0 10px 6px -6px (104, 104, 104);
    box-shadow: 0 10px 6px -6px rgb(104, 104, 104)
}


.blackLayer:hover{
    opacity:0;

}