/* welcomeback part */


.account-container{
    /* background-image: url(../images/Group_1180.png);
    background-repeat: no-repeat;
    background-position-x:90%;
    background-position-y: 10%; */
    
    background-image:url(../images/Illustration.png);
    background-repeat: no-repeat;
    background-position-x:90%;
    background-position-y: 20%;
}

.welcomeback-title{

    padding-top:50px;

    margin-left:100px;
    margin-right:100px;
    background-color:transparent;
    color:rgb(34, 34, 34);
    font-weight:900;
    font-size:30px;

    background-image: url(../images/Group_1180.png);
    background-repeat: no-repeat;
    background-position-x:90%;
    background-position-y: 0%;
}

.welcome-back-div{
    list-style-type:none;
    display: flex;
    justify-content: left;
    padding-left: 0;
}

.user-name{
    color:#81e2a8;
    background-color:#816AFE;
    border-radius:5px;
}


/* recommended podcast and wacthed episodes title */
.recommend-watch-ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    
    padding-top: 50px;
    margin-left:100px;
    padding-left: 0;
    
}

.recommend-li{
    display: flex;
    justify-content: space-between;
    height:85px;
    width:320px;
    background-color:#816AFE;
    margin-right: 150px;
    border-radius: 10px;
    
}

/* .recommend-li:hover{
    background-color:#81e2a8;
    color:#816AFE;
} */

.recommed-link {
    text-decoration: none;
    cursor:pointer;
    font-weight: 800;
    font-size:20px;
    text-transform: uppercase;
    padding-top: 15px;
    margin-bottom: 0;
    text-align: center;
    color:#81e2a8;
}

.recommed-link:hover{
    color:#816AFE;
    background-color:#81e2a8;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.showmore-recommendation-button{
    
    border: 1px solid;
    border-color:transparent;
    background-color:#816AFE;
    color: #81e2a8;
    font-size:40px;
    border-radius:10px;

}

.showmore-recommendation-button:hover{
    border-color: none;
    color:#816AFE;
    background-color:#81e2a8;
}

.watched-li{
    display:flex;
    justify-content: space-between;
    height:85px;
    width:150px;
    background-color:#816AFE;
    margin-right: 150px;
    border-radius: 10px;
}

.watched-li:hover{
    background-color:#81e2a8;
    color:#816AFE;
}

.watched-link{
    text-decoration: none;
    cursor:pointer;
    font-weight: 800;
    font-size:20px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;

    color:#81e2a8;
}

.watched-link:hover{
    background-color:#81e2a8;
    color:#816AFE;
    border-radius:10px;
}







/* more categories part styling */

.more-categories-container{
    margin-top:150px;
    margin-bottom:50px;
    margin-left: 10%;
    margin-right: 8%;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.categories-title{
    background-color:transparent;
    text-align: center;
    
    
}

/* try for fancy title */

.button {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: -60px;
    margin-bottom: 0;
    cursor: pointer;
    display: inline-block;
    
}

.categories-title {
    background-color: transparent;
    border: 3px solid #816AFE;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #816AFE;
}

.categories-title:hover {
    box-shadow: 0 0 10px 0 #81e2a8 inset, 0 0 20px 2px #81e2a8;
    border: 3px solid #81e2a8;

}


/* --------------------- */



.more-categories-link{
    text-decoration: none;
    background-color:transparent;
    padding-bottom: 0;
    font-weight:800;
    font-size: 40px;
    cursor:pointer;
    
    position: relative;
    
    color:#816AFE;
}

.more-categories-link:hover{
    text-align: center;
    color:#81e2a8;
    
}


.categories-ul{
    list-style: none;
    display:flex;
    flex-direction:column;
    flex-flow: row wrap;
    justify-content: left;

    padding-left:0;
}

.categories-ul > li{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}


.categories-link{
    text-decoration: none;
    font-weight:700;
    /* color:rgb(255, 255, 255); */
    opacity:1;
    
    font-size:30px;

}

.category-box{
    /* background-image:URL("https://source.unsplash.com/upDPy3ZhGt4"); */
    background-size:cover;
    height:200px;
    width:200px;
    border-radius: 10px;
    cursor:pointer;
    color:white;

    text-align:center;
    
}

.category-box > p {
    position:relative;
    top:40%;
}

.blackLayer{
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    position:relative;
    bottom:32.7%;

    -webkit-box-shadow: 0 10px 6px -6px (104, 104, 104);
    -moz-box-shadow: 0 10px 6px -6px (104, 104, 104);
    box-shadow: 0 10px 6px -6px rgb(104, 104, 104)
}


.blackLayer:hover{
    opacity:0;

}