.podcast {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #816afe;
    padding: 5px;
    margin: 5px;
}

.podcast > ul > li {
padding: 5px 0px;
}

#pop-up{
    position: absolute;
    top: -1000;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.pop-up-inner #close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

/* for the footer of the page -- amber */
#section-3 {
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#section-3-text-rhs {
    padding: center;
    border: solid;
    border-radius: 25px;
    border-color: #816AFE;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #816AFE;
    color: white;
    box-shadow:0px 3px 3px 3px rgb(186, 186, 186);
}

.picture1{
    padding-right: 4%;
}

div > #footer {
    display: flex;
    justify-content: space-around;
}

#footer > ul {
    list-style: none;
}

#footer-left-side {
    display: block;
    padding-right: 10%;
    padding-left: 5%;
}

.logo2{
    padding-bottom: 10%;
    padding-left: 5%;
}

.random-words{
    padding-bottom: 5%;
    justify-content: center;
    font-weight: 600;
}

.random-words2{
    font-weight: 600;
}

.random-words3{
    padding-top: 5%;
}

#Download-images{
    padding-top: 5%;
}

#footer{
    border: solid;
    color: white;
    background-color: #816AFE;
    padding: 10%;
}

#Download-images {
    display: flex;
    justify-content: space-around;
}

  /* The extra information listed on the bottom-rhs */

.extra-info{
    padding-top: 10%;
}

.extra-info > li > a{
    color: white;
    text-decoration: none;
    }
    
    .extra-info > h3 {
    color: #81e2a8;
    }
    
    .extra-info > li > a:hover{
    text-decoration: underline;
    }
