.podcast {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #816afe;
    padding: 5px;
    margin: 5px;
    position: relative;

}

.podcast>div:hover {
    /* background-color: #04AA6D;
    transition-duration: 0.5s; */

    background-color: #ac9eff;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .1) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    color: black;
    transition: background-size 1s, background-color 1s, color 0.5s;

}

.podcast>ul>li {
    padding: 5px 0px;
}

.podcast>div {
    display: grid;
    /* justify-items: center; */
    align-items: end;
    align-content: space-between;

    /* background-color: #3399cc; */
    background-size: 0% 100%;
    border: none;
    border-radius: 4px;
    color: #fff;
    /* display: inline-block; */
    /* font-size: 20px; */
    /* outline: none; */
    /* padding: 10px 30px; */
    /* text-align: center; */
    text-decoration: none;
    transition: background-color .5s;
    /* width: 300px; */
}

.podcast>div>h3 {
    display: grid;
}

#episodePopup {
    position: absolute;
    width: 100%;
}

.episodes {
    display: grid;
    justify-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    margin: 0;
    padding: 0;
    height: background-color, 100vh;

}



#box {
    position: relative;
    width: 50%;
    min-height: 300px;
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 20px;
    display: grid;
    grid-template-columns: auto;
}

#box > li, #box > h3 {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

#box > h3 {
    text-align: center;

}

.btn-close {
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 50%;
    position: absolute;
    right: calc(25% - 30px);
    top: 92px;
    z-index: 100;
}

#delete-btn {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    transition-duration: 0.5s;
    /* font-weight: 400; */
}

#delete-btn:hover {
    background-color: #ba1414a7;
    color: white;


}

/* #delete-btn:active {
    transform: translateY(4px);
} */

#podcast-desc {
    font-weight: 40;
}

.newForm>form {
    display: grid;
}

.newForm>form>input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.newForm>form>select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.newform>form>button {
    width: 50%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#forms {
    display: grid;
    grid-template-columns: 50% 50%;
}

.submit-btn {
    width: 50%;
}

#podcast-title {
    padding: 0;
}

.podcast-ul {
    padding: 0;
}

.podcast-ul>li {
    list-style: none;
}

.podcast-desc {
    font-weight: 600;
}

.podcast-contentNote {
    font-weight: 600;
}

.podcast-category {
    font-weight: 600;
}

.podcast-rating {
    font-weight: 600;
}

.podcast-sources {
    font-weight: 600;
}

/* for the footer of the page -- amber */
#section-3 {
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#section-3-text-rhs {
    padding: center;
    border: solid;
    border-radius: 25px;
    border-color: #816AFE;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #816AFE;
    color: white;
    box-shadow: 0px 3px 3px 3px rgb(186, 186, 186);
}


.podcast-btns {
    display: flex;
    /* grid-template-columns: 50% 50%; */
    /* bottom: 0px; */
    /* position: relative; */
    /* justify-items: center; */
    justify-content: space-evenly;
}

.picture1 {
    padding-right: 4%;
}

div>#footer {
    display: flex;
    justify-content: space-around;
}

#footer>ul {
    list-style: none;
}

#footer-left-side {
    display: block;
    padding-right: 10%;
    padding-left: 5%;
}

.logo2 {
    padding-bottom: 10%;
    padding-left: 5%;
}

.random-words {
    padding-bottom: 5%;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.random-words2 {
    font-weight: 600;
    margin-top: 0;
}

.random-words3 {
    padding-top: 5%;
}

#Download-images {
    padding-top: 5%;
}

#footer {
    border: solid;
    color: white;
    background-color: #816AFE;
    padding-top: 5%;
    padding-bottom: 2%;
}

#Download-images {
    display: flex;
    justify-content: space-around;
}

/* The extra information listed on the bottom-rhs */

.extra-info {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.extra-info>li>a {
    color: white;
    text-decoration: none;
}

.extra-info>h3 {
    color: #81e2a8;
}

.extra-info>li>a:hover {
    text-decoration: underline;
}


.explore-ul-category{
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    justify-items: center;
    margin: 0;
    padding: 0;

}

.explore-ul-category > Link {
    text-decoration: none;

}



.explore-ul-category > li{
    list-style-type: none;
    height: 100px;


}

/* .explore-ul-category > li > a {
    justify-content: space-around;
    text-decoration: none;
    color: white;
} */

#explore-comedy {
    height: 170px;
    width: 170px;
    background-image: url(https://source.unsplash.com/969TUssR2S4/170x170);
    list-style-type: none;
    border-radius: 5px;
    
}

#explore-comedy:hover {
    background-color: rgba(255, 255, 255, 0.566);
    z-index: 5;
}

#explore-comedy {
    color: white;

}

#explore-family {
    height: 170px;
    width: 170px;
    background-image: url(https://source.unsplash.com/-UUfUnOc9-E/170x170);
    list-style-type: none;
    border-radius: 5px;


}

#explore-factual {
    height: 170px;
    width: 170px;
    background-image: url(https://source.unsplash.com/d9ILr-dbEdg/170x170);
    list-style-type: none;
    border-radius: 5px;


}

#explore-sport {
    height: 170px;
    width: 170px;
    background-image: url(https://source.unsplash.com/9HI8UJMSdZA/170x170);
    list-style-type: none;
    border-radius: 5px;


}

#explore-business {
    height: 170px;
    width: 170px;
    background-image: url(https://source.unsplash.com/iusJ25iYu1c/170x170);
    list-style-type: none;
    border-radius: 5px;


}

#explore-health {
    height: 170px;
    width: 170px;
    background-image: url(https://source.unsplash.com/hIgeoQjS_iE/170x170);
    list-style-type: none;
    border-radius: 5px;


}

#explore-truecrime {
    height: 170px;
    width: 170px;
    list-style-type: none;
    background-image: url(https://source.unsplash.com/jM6Y2nhsAtk/170x170);
    border-radius: 5px;
}